<div class="container">
  <app-navbar></app-navbar>
  <div class="inner-container">
    <div class="clothing-list">
      <div class="header">
        <button class="donate-button">Doar Roupa</button>
        <div class="filter">
          <input type="text" placeholder="Filtrar..." class="filter-input" />
        </div>
      </div>

      <div id="list">
        <!-- <app-clothing-item *ngFor="let clothingItem of clothingItems" [clothingItem]="clothingItem"></app-clothing-item> -->
      </div>

      <!-- <div *ngIf="clothingItems.length == 0" class="message">
        Não há itens disponíveis
      </div> -->

      <div class="message">
        Não há itens disponíveis
      </div>
    </div>
  </div>
</div>
