.custom-snackbar {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  // padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.custom-snackbar-success {
  background-color: #4caf50;
  color: white;
}

.custom-snackbar-error {
  background-color: #f44336;
  color: white;
}

.custom-snackbar-enter {
  animation: slideIn 0.3s ease-out;
}

.custom-snackbar-exit {
  animation: slideOut 0.3s ease-in;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

