.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F616C;
  padding: 10px 20px;
  height: 7vh;
}

.logo {
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  font-size: 25px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s;
  margin-right: 15px;
}

.search:focus {
  border-color: #11A0D4;
  outline: none;
}

.user-icon {
  position: relative;
  cursor: pointer;
}

.user-icon i {
  font-size: 24px;
  color: white;

}
