<div class="container">
  <app-navbar></app-navbar>
  <div class="inner-container">
    <div class="donation-form">
      <h2>Doe Sua Roupa</h2>
      <form (submit)="submitForm()">
        <div class="form-group">
          <label for="description">Descrição do Item</label>
          <textarea id="description" name="description" placeholder="Descrição do item" required></textarea>
        </div>

        <div class="form-group">
          <label for="color">Cor</label>
          <input type="text" id="color" name="color" placeholder="Cor do item" required>
        </div>

        <div class="form-group">
          <label for="gender">Gênero</label>
          <select id="gender" name="gender" required>
            <option *ngFor="let option of genderOptions" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="size">Tamanho</label>
          <select id="size" name="size" required>
            <option *ngFor="let option of sizeOptions" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="season">Estação</label>
          <select id="season" name="season" required>
            <option *ngFor="let option of seasonOptions" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>

        <button type="submit" class="donate-button">Doar</button>
      </form>
    </div>
  </div>
</div>
