* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

#login {
  display: block;
  background-image: url("/waves.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  min-width: 30%;
}

#form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #D9D9D9;
  font-size: 14px;
}

input {
  color: #454545;
}

#form-container button {
  width: 100%;
  padding: 12px;
  background-color: #11A0D4;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

#form-container button:hover {
  background-color: #0056b3;
}

#links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

#links a {
  color: #454545;
  text-decoration: none;
  text-decoration: underline;
}

